Repository TheVice/Ant4C: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ant4c.net.framework.module, ant4c.net.module_MSVC, ant4c.net.module_MinGW, ant4c.net.module_unix_like

ant4c.net.framework.module:
  needs:
  - build_with_MSVC
  tags:
  - windows
  parallel:
    matrix:
    - TargetPlatform:
      - x64
      - Win32
  ...

ant4c.net.module_MSVC:
  needs:
  - build_with_MSVC
  tags:
  - windows
  parallel:
    matrix:
    - TargetPlatform:
      - x64
      - Win32
  ...

ant4c.net.module_MinGW:
  needs:
  - build_with_MinGW
  tags:
  - windows
  parallel:
    matrix:
    - BUILD_TYPE:
      - Debug
      - Release
  ...

ant4c.net.module_unix_like:
  needs:
  - build_on_unix_like
  tags:
  - unix-like
  - ${runs_on}
  parallel:
    matrix:
    - runs_on:
      - dotnet-sdk-6.0
      BUILD_TYPE:
      - Debug
      - Release
  ...

[modules/net/CMakeLists.txt] added tests.
  .github/workflows/cmake.yml
  .github/workflows/modules_net_cmake.yml
  .gitlab-ci.yml
  CMakeLists.txt
  modules/net/CMakeLists.txt
  rpm/ant4c.spec
  tests.cmake
  tests.xml
  tests_base_xml.cpp
  tests_base_xml.h
  tests_net.module.cpp
  tests_path.cpp
Due: ant4c.net.module_MSVC, ant4c.net.module_MinGW, ant4c.net.module_unix_like

[.github/workflows/modules_net_cmake.yml] exclude version 3.1 of host.
  .github/workflows/modules_net_cmake.yml
  modules/net/CMakeLists.txt
  modules/net/net.xml
  tests.xml
  tests_base.cmake
  tests_base_xml.cpp
  tests_net.module.cpp
Due: ant4c.net.module_MSVC, ant4c.net.module_MinGW, ant4c.net.module_unix_like

[cmake.yml] added --output-on-failure to the command line of ctest.
  .github/workflows/cmake.yml
  .gitlab-ci.yml
  Makefile
  README.md
  bitbucket-pipelines.yml
  modules/net/CMakeLists.txt
  path.c
  rpm/ant4c.spec
  rpm/ant4c.spec.patch
  test_module_net.xml
  tests_net.module.cpp
  tests_text_encoding.cpp
Due: ant4c.net.module_MSVC, ant4c.net.module_MinGW, ant4c.net.module_unix_like

[CI] initial commit.
  .github/workflows/cmake.yml
  CMakeLists.txt
  main.cpp
Due: none

[CI] added using of GITHUB_PATH.
  .github/workflows/cmake.yml
Due: none

[CI] removed some of paths from PATH environment variable.
  .github/workflows/cmake.yml
Due: none

[CI] left only specific paths.
  .github/workflows/cmake.yml
Due: none

[buffer] moved definition of structure inside source file from header.
  .github/workflows/cmake.yml
  CMakeLists.txt
  buffer.c
  buffer.h
  common.c
  common.h
  conversion.c
  conversion.h
  interpreter.string_unit.c
  interpreter.string_unit.h
  range.c
  range.h
  string_unit.c
  string_unit.h
  tests.cmake
  tests_base_xml.cpp
  tests_base_xml.h
  tests_conversion.cpp
  tests_file_system.cpp
  tests_string_unit.cpp
  tests_text_encoding.cpp
  text_encoding.c
  text_encoding.h
Due: none

[buffer] added macros BUFFER_SIZE_OF.
  .github/workflows/cmake.yml
  CMakeLists.txt
  buffer.h
  environment.c
  environment.h
  operating_system.h
  tests.cmake
  tests_environment.cpp
  tests_version.cpp
  version.c
  version.h
Due: none

[CMakeLists.txt] un-comment including of file_system and path units.
  CMakeLists.txt
  choose_task.c
  choose_task.h
  common.c
  conversion.c
  date_time.c
  date_time.h
  file_system.c
  file_system.h
  interpreter.date_time.c
  interpreter.file_system.c
  interpreter.file_system.h
  interpreter.math_unit.c
  math_unit.c
  math_unit.h
  path.c
  path.h
  range.h
  shared_object.c
  tests.cmake
  tests_date_time.cpp
  tests_file_system.cpp
  tests_path.cpp
  tests_xml.cpp
  xml.c
  xml.h
Due: none

[path] resolved compile error at macOS.
  path.c
Due: none

[CMakeLists.txt] un-comment including of echo and load_file units.
  CMakeLists.txt
  echo.c
  echo.h
  interpreter.echo.c
  interpreter.load_file.c
  interpreter.load_file.h
  load_file.c
  load_file.h
  path.c
  tests.cmake
  tests_load_file.cpp
Due: none

[CMakeLists.txt] added argument_parser, exec and property units.
  CMakeLists.txt
  argument_parser.c
  argument_parser.h
  exec.c
  exec.h
  gtest_argument_parser.cpp
  gtest_argument_parser.h
  interpreter.exec.c
  interpreter.exec.h
  interpreter.property.c
  interpreter.property.h
  project.c
  project.h
  property.c
  property.h
  tests.cmake
  tests_argument_parser.cpp
  tests_base.cmake
  tests_base_xml.cpp
  tests_base_xml.h
  tests_exec.cpp
  tests_exec.h
  tests_project.cpp
  tests_property.cpp
Due: none

[CMakeLists.txt] added target unit.
  CMakeLists.txt
  interpreter.c
  interpreter.conversion.c
  interpreter.environment.c
  interpreter.exec.c
  interpreter.h
  interpreter.operating_system.c
  interpreter.path.c
  interpreter.property.c
  interpreter.target.c
  interpreter.version.c
  target.c
  target.h
  tests_interpreter.cpp
Due: none

[*] processing copy_move, fail_task, for_each and try_catch units.
  copy_move.c
  copy_move.h
  fail_task.c
  fail_task.h
  for_each.c
  for_each.h
  try_catch.c
  try_catch.h
Due: none

[CMakeLists.txt] added interpreter and project units.
  CMakeLists.txt
  file_system.c
  if_task.c
  if_task.h
  interpreter.c
  path.c
  project.c
  task.c
  task.h
  tests.cmake
  tests_argument_parser.cpp
  tests_base_xml.cpp
  tests_base_xml.h
  tests_environment.cpp
  tests_exec.cpp
  tests_interpreter.cpp
  tests_path.cpp
  tests_project.cpp
  tests_property.cpp
Due: none

[CMakeLists.txt] restored build of ant4c_app target and example module.
  CMakeLists.txt
  file_system.c
  hash.blake2.c
  hash.blake3.c
  hash.c
  hash.h
  hash.sha3.c
  interpreter.c
  interpreter.file_system.c
  interpreter.hash.c
  interpreter.load_file.c
  interpreter.sleep_unit.c
  load_tasks.c
  load_tasks.h
  main.c
  modules/example.c
  project.c
  property.c
  tests.cmake
  tests_file_system.cpp
  tests_hash.cpp
  tests_interpreter.cpp
  tests_load_tasks.cpp
  tests_project.cpp
Due: none

[ant4c.net.framework] added support of new version of buffer unit.
  .github/workflows/cmake.yml
  .github/workflows/modules_ant4c.net.framework_cmake.yml
  modules/ant4c.net.framework/CMakeLists.txt
  modules/ant4c.net.framework/ant4c.net.framework.c
  modules/ant4c.net.framework/clr_control.c
  modules/ant4c.net.framework/meta_host.c
  modules/ant4c.net.framework/meta_host.h
  modules/ant4c.net.framework/runtime_host.c
  modules/ant4c.net.framework/runtime_info.c
  modules/ant4c.net.framework/runtime_info.h
  modules/example.c
  tests_ant4c.net.framework.module.cpp
Due: ant4c.net.framework.module

[net] added support of new version of buffer unit.
  .github/workflows/modules_ant4c.net.framework_cmake.yml
  .github/workflows/modules_net_cmake.yml
  modules/net/arguments.c
  modules/net/arguments.h
  modules/net/core_host_initialize_request.c
  modules/net/error_writer.c
  modules/net/host_fxr.c
  modules/net/host_fxr.h
  modules/net/host_interface.c
  modules/net/host_policy.c
  modules/net/host_policy.h
  modules/net/net.c
  modules/net/net.common.c
  modules/net/net.common.h
  modules/net/net.file.c
  modules/net/net.file.h
  modules/net/net.host.c
  modules/net/net.host.h
  modules/net/net.host_fxr.c
  modules/net/net.host_fxr.h
  modules/net/net.host_policy.c
  modules/net/net.host_policy.h
  tests_net.module.cpp
Due: ant4c.net.module_MSVC, ant4c.net.module_MinGW, ant4c.net.module_unix_like

[sha3] added test that check behavior of implementation on specific issue.
  Makefile
  tests_hash.cpp
Due: none

[*] applied suggestions from the codespell tool.
  .codespell-whitelist
  build.build
  file_system.c
  help.adoc
  interpreter.hash.c
  load_file.c
  modules/net/net.adoc
  tests.xml
  tests_xml.cpp
  text_encoding.c
Due: ant4c.net.module_MSVC, ant4c.net.module_MinGW, ant4c.net.module_unix_like

[tests_date_time] added support for MinGW 12.
  .github/workflows/cmake.yml
  .github/workflows/modules_ant4c.net.framework_cmake.yml
  .github/workflows/modules_net_cmake.yml
  tests.xml
  tests_date_time.cpp
Due: none

[bit_converter] added unit.
  CMakeLists.txt
  bit_converter.c
  bit_converter.h
  tests.cmake
  tests_bit_converter.cpp
Due: none

[bit_converter|hash] replaced hash common functions with equivalents.
  hash.blake3.c
  hash.c
  hash.crc32.c
  hash.h
  hash.sha3.c
  hash.xxhash.c
  tests_hash.cpp
Due: none

[*] added defined key word at the #if macros checking.
  Makefile
  buffer.c
  common.h
  conversion.c
  date_time.c
  file_system.c
  for_each.h
  hash.blake2.c
  hash.blake3.c
  hash.sha3.c
  interpreter.hash.c
  listener.c
  listener.h
  load_tasks.c
  operating_system.c
  path.c
  property.c
  target.c
  try_catch.h
Due: none

[CI]
  .github/workflows/modules_net_cmake.yml
Due: none

[CI] left only ubuntu-latest.
  .github/workflows/modules_net_cmake.yml
Due: none

[*] added patch for success compile as submodule.
  interpreter.c
  shared_object.c
Due: none

Path conditions:
  ant4c.net.framework.module: any of: modules/ant4c.net.framework/**/*
  ant4c.net.module_MSVC: any of: modules/net/**/*
  ant4c.net.module_MinGW: any of: modules/net/**/*
  ant4c.net.module_unix_like: any of: modules/net/**/*
